umb/www.umb.edu
umb/umb_data
umb/test-env
gpt/lm_models/*
test-env
gpt/data/*/*.bin
gpt/data/openwebtext/test.hf
gpt/lm_config.py
*/__pycache__
umb/audit_data/*/*
!umb/audit_data/static/
!umb/audit_data/static/**
venv/*
